body{
    border: 5px inset rgb(236, 9, 9);
    margin: 0px;
    background-image: url("./coffee.jpg");
    background-size: contain;
}
#box1{
    border: 5px solid rgb(236, 9, 9);
    width: 200px;
    height: 125px;
    border-radius: 13px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 50px;
}
#box2{
    border: 5px solid rgb(236, 9, 9);
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    word-spacing: 10px;
    color: aliceblue;
    margin-top: -105px;
    margin-left: 222px;
    padding-top: 25px;
}
#box3{
    border: 5px solid rgb(236, 9, 9);
    width: 200px;
    height: 125px;
    border-radius: 13px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    color: aliceblue;
    margin-left: 900px;
    display: inline-block;
    margin-top: -1000px;
}
.circleoffer{
    border: 5px solid rgb(236, 9, 9);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(15, 14, 14);
    text-align: center;
    padding-top: 40px;
    color: aliceblue;
    
    margin-left: 50px;
    margin-top: 250px;
}
.lnhg{
    line-height: 10px;
    text-decoration: underline;
    padding-top: 5px;
}
.hrf{
    width: 229px;
}
.hrs{
    width: 230px;
}
.register{
    border: 5px dashed rgb(236, 9, 9);
    width: 420px;
    height: 520px;
    border-radius: 13px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    color: aliceblue;
    margin-top: -350px;
    margin-left: 650px;
}
.menue{
    border: 5px solid rgb(236, 9, 9);
    width: 200px;
    height: 30px;
    border-radius: 13px;
    background-color: rgb(15, 14, 14);
    text-align: center;
    color: aliceblue;
    padding-top: 8px;
    margin-left: 524px;
    margin-top: 100px;
    font-weight: 800;
    font-style: italic;
    font-size: larger;
}
#card{
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.box{
    border: 5px solid rgb(235, 12, 12);
    width: 250px;
    height: 235px;
    box-sizing: border-box;
    background-color: rgb(15, 14, 14);
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
}
.headr{
    font-weight: 800;
    font-style: italic;
    font-size: larger;
}